
@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<address>
    MicrosoftGatan 1<br />
    421  63, Västra Frölunda <br />
    <abbr title="Telefon">Telefon</abbr>
    112 112 112
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4271.552694055742!2d11.904424841772446!3d57.63528879666503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1643195826233!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@zealot.com">support@zealot.com</a><br />
    <strong>Ekonomi:</strong> <a href="mailto:ekonomi@zealot.com">ekonomi@zealot.com</a>
</address>